<h2>Doctor Show Page</h2>
<p>Doctor: <%= @doctor.name %></p>
<p>Specialty: <%= @doctor.specialty %></p>
<p>Education: <%= @doctor.education %></p>
<p>Hospital: <%= @doctor.hospital.name %></p>
<p>Patients: <br>
  <% @doctor.patients.each do |patient| %>
    <p><%= patient.name %>
    <%= button_to "Remove Patient", "/doctors/#{patient.id}", method: :delete %><br>
  <% end %>
